%div.auth
  %h2
    Личные данные
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = f.error_notification
    .form-inputs
      = f.input :email, required: true, autofocus: true
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %p
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      = f.input :password, autocomplete: "off", hint: "оставть пустым, если не хотите изменить", required: false
      = f.input :password_confirmation, required: false
      = f.input :current_password, hint: "введите для подтверждения данных", required: true
    .form-actions
      = f.button :submit, "Обновить", class: "button"
  %h3 Удалить мой аккаунт
  %p
    Unhappy? #{link_to "Хочу удалить мой аккаунт", registration_path(resource_name), data: { confirm: "Совсем?" }, method: :delete}