=simple_form_for [:administrator, @slide], remote: true  do |f|
  =f.input :inside, as: :text
  =f.input :image, as: :file
  =f.button :submit
=image_tag @slide.image_url(:thumb) #unless @project_slides.image.nil?