%tr{id:slide.id}
  %td
    =image_tag slide.image_url(:thumb)
  %td
    =slide.inside
  %td
    =link_to '<i class="fa fa-edit"></i>'.html_safe, edit_administrator_slide_path(slide), remote: true
  %td
    =link_to '<i class="fa fa-remove"></i>'.html_safe, administrator_slide_path(slide), method: :delete, data: { confirm: 'Are you sure?' }, remote: true