$('#administrator_modal').html('<%= escape_javascript content_tag :h2, t("backend.actions.success_create", :model => t("activerecord.capitalized_model.slide")) %><a class="close-reveal-modal" id="click_administrator_modal_close">&#215;</a>');
setTimeout(function () {
    $('#click_administrator_modal_close').trigger('click');
}, 1000);

$('#feature > tbody').append('<%= escape_javascript render 'administrator/slides/slide_row', slide: @slide %>');

$('#administrator_alert > h2').html('<%= t("backend.actions.success_create", :model => t("activerecord.changed_model.slide")) %>');
$('#click_administrator_alert').trigger('click');
setTimeout(function () {
    $('#click_administrator_alert_close').trigger('click');
}, 1000);