%div.row
  %div{class:"custom-panel"}
    %div{class:"custom-panel-heading"}
      %h4
        =t("helpers.title.list", :model => t("activerecord.list_multiple_model.slide"))
        =link_to '<i class="fa fa-plus cat-plus"></i>'.html_safe, new_administrator_slide_path, remote: true

      %table#feature
        %tbody
          -@slides.each do |slide|
            =render 'administrator/slides/slide_row', slide: slide