<!--<div data-alert class="alert-box success radius">-->
  <!--Оповещения-->
  <!--<a href="#" class="close">&times;</a>-->
<!--</div>-->
<!--<div data-alert class="alert-box alert radius">-->
  <!--Ошибка!-->
  <!--<a href="#" class="close">&times;</a>-->
<!--</div>-->
<!--<div data-alert class="alert-box info radius">-->
  <!--Информация-->
  <!--<a href="#" class="close">&times;</a>-->
<!--</div>-->