%ul
  %li
    =link_to "Парковки (#{Parking.all.size})", administrator_parkings_path
  %li
    =link_to "Особенности (#{Feature.all.size})", administrator_features_path
  -#%li
    -#=link_to "Слайды (#{Slide.all.size})", administrator_slides_path
  %li
    =link_to "Отзывы (#{Feedback.all.size})", administrator_feedbacks_path


