%tr{id:feedback.id}
  %td.large-2.columns
    =feedback.updated_at.strftime("%F %T")
  %td.large-2.columns
    =FeedbackType.by_code(feedback.feedback_type)
  %td.large-6.columns
    =feedback.email
  %td.large-1.columns
    =link_to '<i class="fa fa-edit"></i>'.html_safe, edit_administrator_feedback_path(feedback), remote: true
  %td.large-1.columns
    =link_to '<i class="fa fa-remove"></i>'.html_safe, administrator_feedback_path(feedback), method: :delete, data: { confirm: 'Are you sure?' }, remote: true