=simple_form_for [:administrator, @feedback], remote: true  do |f|
  =f.input :name
  =f.input :email
  =f.input :mobile_phone
  =collection_select :feedback, :feedback_type, FeedbackType.collection, :code, :name, selected: @feedback.feedback_type
  =f.input :comment, as: :text
  =f.button :submit, class: "button"