%div.row
  %div{class:"custom-panel"}
    %div{class:"custom-panel-heading"}
      %h4
        =t("helpers.title.list", :model => t("activerecord.list_multiple_model.feedback"))
        =link_to '<i class="fa fa-plus cat-plus"></i>'.html_safe, new_administrator_feedback_path, remote: true

      %table#feedback
        %thead
          %td.large-2.columns
            Дата создания
          %td.large-2.columns
            Тип обращения
          %td.large-6.columns
            Электронная почта
          %td.large-1.columns
            Редактировать
          %td.large-1.columns
            Удалить
        %tbody
          -@feedbacks.each do |feedback|
            =render 'administrator/feedbacks/feedback_row', feedback: feedback