$('#administrator_modal').html('<%= escape_javascript render 'administrator/feedbacks/new' %>');
$('#click_administrator_modal').trigger( 'click' );
//$(function () {
//    $('#parking_description').redactor({
//        lang: 'ru',
//        buttons: ['html', 'formatting', 'bold', 'unorderedlist'],
//        cleanSpaces: true
//    });
//});