$('#administrator_modal').html('<%= escape_javascript content_tag :h2, t("backend.actions.success_update", :model => t("activerecord.capitalized_model.feedback")) %><a class="close-reveal-modal" id="click_administrator_modal_close">&#215;</a>');
setTimeout(function () {
    $('#click_administrator_modal_close').trigger('click');
}, 1000);
$('#<%= @feedback.id %>').replaceWith('<%= escape_javascript render 'administrator/feedbacks/feedback_row', feedback: @feedback %>');