.row.features
  .medium-4.columns.centered
    .round-icon
      %span.fi-widget
    %h3 Adipiscing Elit
    %hr/
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc viverra, lacus id interdum ultrices, elit metus semper tellus.
  .medium-4.columns.centered
    .round-icon
      %span.fi-graph-bar
    %h3 Adipiscing Elit
    %hr/
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc viverra, lacus id interdum ultrices, elit metus semper tellus.
  .medium-4.columns.centered
    .round-icon
      %span.fi-download
    %h3 Adipiscing Elit
    %hr/
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc viverra, lacus id interdum ultrices, elit metus semper tellus.
