-cache @features do
  .row.features
    -@features.each do |feature|
      .medium-4.columns
        .round-icon
          %span.fi-widget
        %h3
          =image_tag "#{feature.image}", alt: feature.title
        %hr/
        -#%p
        =feature.description.html_safe