%div#footer
  %div.row
    %div{class:"large-3 medium-3 columns copy hide-for-small"}
      &copy; 2015 #{t('site_name')}
    %div{class:"columns copy text-center show-for-small"}
      &copy; 2015 #{t('site_name')}

    %div{class:"large-6 medium-6 columns menu"}
      <a href="#" data-reveal-id="feedback_modal" id="click_feedback_modal">Связаться с нами</a> <i class="fa fa-envelope-o space-horizontal"></i> <a href="mailto:info@gdeparking.com">info@gdeparking.com</a>
    %div{class:"large-3 medium-3 columns social hide-for-small"}
      =link_to '<i class="fa fa-vk"></i>'.html_safe, "https://vk.com/gdeparking", target: '_blank'
      =link_to '<i class="fa fa-facebook"></i>'.html_safe, "http://fb.com/gdeparkingcom", target: '_blank'
      =link_to '<i class="fa fa-twitter"></i>'.html_safe, "http://twitter.com/GdeParking", target: '_blank'
      =link_to '', "http://ok.ru/group/57421040386109", class: "ok", target: '_blank'
    %div{class:"columns social text-center show-for-small"}
      =link_to '<i class="fa fa-vk"></i>'.html_safe, "https://vk.com/gdeparking", target: '_blank'
      =link_to '<i class="fa fa-facebook"></i>'.html_safe, "http://fb.com/gdeparkingcom", target: '_blank'
      =link_to '<i class="fa fa-twitter"></i>'.html_safe, "http://twitter.com/GdeParking", target: '_blank'
      =link_to '', "http://ok.ru/group/57421040386109", class: "ok", target: '_blank'