=javascript_include_tag "https://api-maps.yandex.ru/2.1/?load=package.full&lang=ru-RU"
%div#parking-map
-#=link_to 'Поехали', 'yandexnavi://show_point_on_map?lat=55.758192&lon=37.642817&zoom=14&no-balloon=1'
:javascript
  var
  parkings = #{@parkings.to_json},
  myMap,
  center = [55.753544, 37.622468],
  myMap = window.map,
  clusterIcons = [
      {
          href: '/assets/cluster.png',
          size: [53, 53],
          offset: [-27, -27]
      }
  ],
  clusterer,
  points = [],
  geoObjects = [],
  isMobile = {
    Android: function() {
        return navigator.userAgent.match(/Android/i);
    },
    BlackBerry: function() {
        return navigator.userAgent.match(/BlackBerry/i);
    },
    iOS: function() {
        return navigator.userAgent.match(/iPhone|iPad|iPod/i);
    },
    Opera: function() {
        return navigator.userAgent.match(/Opera Mini/i);
    },
    Windows: function() {
        return navigator.userAgent.match(/IEMobile/i);
    },
    any: function() {
        return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
    }
  };

  ymaps.ready(initMap);

  function generatePlacemark (parking){
  if (parking.lat_entry_1 != null){
    lat_entry = parking.lat_entry_1;
  }
  else{
    lat_entry = parking.lat;
  }
  if (parking.lng_entry_1 != null){
    lng_entry = parking.lng_entry_1;
  }
  else{
    lng_entry = parking.lng;
  }
    return new ymaps.Placemark([parking.lat, parking.lng], {
            balloonContent:
              '<div class="baloon">' +
              '  <div class="baloon-icons">' +
              '    <a class="clipboard" target="_blank" href="https://maps.yandex.ru/?text='+lat_entry+';'+lng_entry+'" title="Показать на карте"><i class="fa fa-map-marker"></i></a>' +
              '    <a class="eye" data-remote="true" href="/parking_images/'+parking.id+'" title="Посмотреть схему проезда"><i class="fa fa-camera"></i></a>' +
              //'    <a class="clipboard" target="_blank" href="https://maps.yandex.ru/?text='+lat_entry+';'+lng_entry+'" title="Показать на карте"><i class="fa fa-map-marker has-tip" data-tooltip aria-haspopup="true" title="Показать на карте"></i></a>' +
              //'    <a class="eye" data-remote="true" href="/parking_images/'+parking.id+'" title="Посмотреть схему проезда"><i class="fa fa-eye has-tip" data-tooltip aria-haspopup="true" title="Посмотреть схему проезда"></i></a>' +
              '  </div>' +
              '  <div class="baloon-info">' +
              '     <h4 class="baloon-address">' + parking.address + '</h3>' +
              '     <p class="baloon-description">' + parking.description + '</p>' +
              '     <span class="baloon-capacity-holder">Вместимость:</span><span class="baloon-capacity-count"> ' + parking.capacity + '</span>' +
              '  </div>' +
              '</div>'
            }, {
              iconLayout: 'default#image',
              iconImageHref: '/assets/parking_type/'+parking.park_type+'.png',
              iconImageSize: [35, 42],
              iconImageOffset: [-17, -42]
            }
          )
  }

  function initMap() {
    myMap = window.map = new ymaps.Map('parking-map', {
      center: [55.753544, 37.622468],
      zoom: 12.5,
      controls: ['searchControl','zoomControl', 'geolocationControl']
    });

    MyIconContentLayout = ymaps.templateLayoutFactory.createClass(
     '<div style="color: #FFFFFF; font-weight: bold;">{{ properties.geoObjects.length }}</div>'),

    clusterer = new ymaps.Clusterer({
        clusterIcons: clusterIcons,
        groupByCoordinates: false,
        clusterIconContentLayout: MyIconContentLayout
    });

    myMap.behaviors.disable('scrollZoom');
    if(isMobile.any()){
      myMap.behaviors.disable('drag');
    }
    if (parkings.length > 0) {
      for (var i = 0, len = parkings.length; i < len; i++) {
        clusterer.add(generatePlacemark(parkings[i]));
      }
      myMap.geoObjects.add(clusterer);
    }
  };