%div#mobile-application
  %div.row
    -#%div{class:"small-6 large-2 columns"}
    -#%div{class:"small-6 large-4 columns"}
    -#%div{class:"small-6 large-1 columns"}
    %div{class:"large-6 medium-6 small-12 columns text-center pure"}
      %span
        100%
      бесплатных парковок
      %br
      в приложении
    %div{class:"large-5 medium-5 small-12 columns hide-for-small"}
      %p.site
        Карта на сайте показывает лишь небольшую часть найденных нами бесплатных парковок: только в пределах Садового кольца и вместимостью до 10 автомобилей. Полный функционал и база бесплатных парковок только в нашем приложении
      %p.store
        %a{href:"#", data: {reveal: {id: "feedback_android_modal"}}, id:"click_feedback_android_modal"}
          =image_tag 'play_market.png', alt:'Google play'
        %a{href:"#", data: {reveal: {id: "feedback_ios_modal"}}, id:"click_feedback_ios_modal"}
          =image_tag 'app_store.png', alt:'AppStore'
    %div{class:"large-6 medium-6 small-12 columns text-center show-for-small"}
      %p.site
        Карта на сайте показывает лишь небольшую часть найденных нами бесплатных парковок: только в пределах Садового кольца и вместимостью до 10 автомобилей. Полный функционал и база бесплатных парковок только в нашем приложении
      %p.store
        %a{href:"#", data: {reveal: {id: "feedback_android_modal"}}, id:"click_feedback_android_modal"}
          =image_tag 'play_market.png', alt:'Google play'
        %a{href:"#", data: {reveal: {id: "feedback_ios_modal"}}, id:"click_feedback_ios_modal"}
          =image_tag 'app_store.png', alt:'AppStore'