%div.fixed
  %nav{class:"top-bar", data:{topbar: ''}, role:"navigation"}
    %ul{class:"title-area"}
      %li.name
        %h1
          =link_to "<h1 id='logo'>#{t('seo_title')}</h1>".html_safe, '#', title: t('seo_title')
      %li{class:"toggle-topbar menu-icon"}
        %a{href:"#"}
          %span
    %section{class:"top-bar-section"}
      %ul.right
        %li
          =link_to 'Карта', '#parking-map'
        %li
          =link_to 'Мобильное приложение', '#mobile-application'
        %li
          =link_to 'Контакты', '#footer'