-if parking_images.count == 0
  %center
    =t("activerecord.attributes.slide.empty")
-else
  %div{id:'parking-slider', class:"owl-carousel owl-theme"}
    -parking_images.each do |parking_image|
      =parking_image.slide