%div{class:"swiper-container main-slider"}
  %div{class:"swiper-wrapper"}
    %div{class:"swiper-slide boomstarter-slide"}
      %div.slide-wrapper
        =link_to image_tag('boomstarter-gdeparking.png', alt:'Мы запустили наш проект на бумстартере! Поддержите нас!'), 'https://boomstarter.ru/projects/392431/60348', class: "hide-for-small", target: "_blank"
        =link_to image_tag('boomstarter-gdeparking-mini.png', alt:'Мы запустили наш проект на бумстартере! Поддержите нас!'), 'https://boomstarter.ru/projects/392431/60348', class: "show-for-small", target: "_blank"
        %h2
          =link_to 'Мы запустили наш проект на бумстартере!<br/>Поддержите нас!'.html_safe, 'https://boomstarter.ru/projects/392431/60348', target: "_blank"
    %div{class:"swiper-slide welcome-slide"}
      %div.slide-wrapper
        =image_tag 'logo_slider.png', alt:'Ищем парковки на улицах и во дворах', class: "hide-for-small"
        =image_tag 'logo.png', alt:'Ищем парковки на улицах и во дворах', class: "show-for-small"
        %h2
          Находим бесплатные парковки в Москве
          %br
          %span.yellow
            для вас
    %div{class:"swiper-slide second-slide"}
      %div.slide-wrapper
        %h2
          Найти бесплатную парковку
          %br
          Просто и понятно
        %ul
          %li.marker-blue
            Официальная бесплатная городская парковка
          %li.marker-green
            Бесплатная парковка во дворе и в рамках ПДД
          %li.marker-yellow
            Место на спорной разметке, малая угроза эвакуации
          %li.marker-red
            Парковка с нарушением ПДД
    %div{class:"swiper-slide third-slide"}
      %div.slide-wrapper
        %h2
          До 290 мест
          %br
          на бесплатных парковках рядом с Остоженкой
          %br
          %span.yellow
            найти их с ГдеПаркинг
  %div{class:"swiper-pagination main-slider-pagination"}
  %div{class:"swiper-button-prev main-slider-prev"}
  %div{class:"swiper-button-next main-slider-next"}
:javascript
  $(document).ready(function () {
    var mainSlider = new Swiper ('.main-slider', {
      direction: 'horizontal',
      loop: true,
      nextButton:'.main-slider-next',
      prevButton:'.main-slider-prev',
      pagination: '.main-slider-pagination',
      paginationClickable: true
    })
  });