-cache do
  =render 'layouts/gallery_modal'
  =render 'feedbacks/feedback_android_modal', feedback: @feedback
  =render 'feedbacks/feedback_ios_modal', feedback: @feedback
  =render 'feedbacks/feedback_modal', feedback: @feedback
  =render 'welcome/navigation'
  =render 'welcome/slider'
=render 'welcome/features'
=render 'welcome/map'
-cache @features do
  =render 'welcome/mobile_application'
  =render 'welcome/footer'
  =render 'welcome/info'