$('#gallery_modal').html('<%= escape_javascript render('welcome/parking_images', parking_images: @parking_images) %><a class="close-reveal-modal" id="click_gallery_modal_close">&#215;</a>');
$(document).on('opened.fndtn.reveal', '[data-reveal]', function () {
    $("#parking-slider").owlCarousel({
        dots: true,
        responsive:{
            0:{
                items:1
            },
            600:{
                items:2
            },
            1000:{
                items:3
            }
        }
    });
});
$('#click_gallery_modal').trigger('click');
