=simple_form_for [:administrator, @parking], remote: true  do |f|
  =f.input :internal_number
  =f.input :address
  =f.input :description
  =f.input :capacity
  =collection_select :parking, :area, Area.collection, :code, :name, selected: @parking.area
  =collection_select :parking, :park_type, ParkingType.collection, :code, :description, selected: @parking.park_type
  %div.row
    =f.input :lat, wrapper_html: {class:"medium-4 columns"}
    =f.input :lat_entry_1, wrapper_html: {class:"medium-4 columns"}
    =f.input :lat_entry_2, wrapper_html: {class:"medium-4 columns"}
  %div.row
    =f.input :lng, wrapper_html: {class:"medium-4 columns"}
    =f.input :lng_entry_1, wrapper_html: {class:"medium-4 columns"}
    =f.input :lng_entry_2, wrapper_html: {class:"medium-4 columns"}
  %div{class:"large-12 columns load-image-block", id:"file-uploader-parking-image"}
    Нажмите для выбора файла или перетащите изображение
  =render 'parking_image_upload', parking: @parking
  =f.button :submit, class: "button"