%tr{id:parking.id}
  %td.large-1.columns
    =image_tag "parking_type/#{parking.park_type}.png"
  %td.large-2.columns
    =parking.internal_number
  %td.large-2.columns
    =Area.by_code(parking.area)
  %td.large-3.columns
    =parking.address
  %td.large-1.columns
    =parking.capacity
  %td.large-1.columns
    =check_box_tag 'show_parkings[]', parking.id, false, class: 'checked-list checked-all-active', checked: parking.active, onclick:'processParkingActive(this)'
  %td.large-1.columns
    =link_to '<i class="fa fa-edit"></i>'.html_safe, edit_administrator_parking_path(parking), remote: true
  %td.large-1.columns
    =link_to '<i class="fa fa-remove"></i>'.html_safe, administrator_parking_path(parking), method: :delete, data: { confirm: 'Are you sure?' }, remote: true