%li{id:"uploaded-ParkingImage", data:{model:{id:"#{parking_image.id}"}, obj:"ParkingImage"} }
  %div{class:"parking-image-sort row", id: "ParkingImage_#{parking_image.id}"}
    %div{ data:{dz:{thumbnail:''}} }
      %div{class:"large-2 columns", style:'width:100px;'}
        =image_tag parking_image.image_url(:list_preview)
      %div{class:"large-9 columns"}
        Подпись изображения
        =text_field_tag "parking_image[#{parking_image.id}]", parking_image.title
      %div{class:"large-1 columns ad_top_pad", style:'padding:30px;'}
        =link_to "<i tabindex='0' class='fa fa-remove 2x'></i>".html_safe, "/administrator/parking_images/#{parking_image.id}/parking_image/destroy", remote: true