-#%hr
-if parking.parking_images.count > 0
  %h2
    Загруженные
%ui{id:"sort-paking-image",class:"image-sort"}
  -parking.parking_images.each do |parking_image|
    =render 'parking_image', parking_image: parking_image

  :javascript
    var imgDropzone = new Dropzone("div#file-uploader-parking-image", {
      url: "/administrator/parking_images",
      method: 'post',
      params: {"parking_id":"#{parking.id}"},
      acceptedFiles: ".jpg, .jpeg, .gif, .png, .JPG, .JPEG, .GIF, .PNG",
      error: function (file, error) {
        imgDropzone.removeFile( file );
      },
      addedfile: function(file) { return true;},
      success: function(file, data) {
        $("#sort-paking-image").append(data.image);
      }
    });
    InitSortable("ui#sort-paking-image");