$('#administrator_modal').html('<%= escape_javascript content_tag :h2, t("backend.actions.success_update", :model => t("activerecord.capitalized_model.parking")) %><a class="close-reveal-modal" id="click_administrator_modal_close">&#215;</a>');
setTimeout(function () {
    $('#click_administrator_modal_close').trigger('click');
}, 1000);

$('#parkings > tbody').append('<%= escape_javascript render 'administrator/parkings/parking_row', parking: @parking %>');

$('#administrator_alert > h2').html('<%= t("backend.actions.success_create", :model => t("activerecord.changed_model.parking")) %>');
$('#click_administrator_alert').trigger('click');
setTimeout(function () {
    $('#click_administrator_alert_close').trigger('click');
}, 1000);