%div.row
  %div{class:"custom-panel"}
    %div{class:"custom-panel-heading"}
      %h4
        =t("helpers.title.list", :model => t("activerecord.list_multiple_model.parking"))
        =link_to '<i class="fa fa-plus cat-plus"></i>'.html_safe, new_administrator_parking_path, remote: true
      %table#parkings
        %thead
          %td.large-1.columns
            Тип парковки
          %td.large-2.columns
            Служебный номер
          %td.large-2.columns
            Район
          %td.large-3.columns
            Адрес
          %td.large-1.columns
            Вместимость
          %td.large-1.columns
            Отображать
          %td.large-1.columns
            Редактировать
          %td.large-1.columns
            Удалить
        %tbody
          -@parkings.each do |parking|
            =render 'administrator/parkings/parking_row', parking: parking