%div.auth
  %h2
    Авторизация
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .form-inputs
      = f.input :email, required: false, autofocus: true
      = f.input :password, required: false
    .form-actions
      = f.button :submit, "Войти", class: "button"
    .form-inputs
      = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
  -#= render "devise/shared/links"
