%div{id:'feedback_modal', class:'reveal-modal', data: {reveal: ''}}
  <a class="close-reveal-modal" id="click_feedback_modal_close">&#215;</a>
  =render 'feedbacks/form', feedback: feedback, feedback_type: 3
