%p.feedback-info
  -if feedback_type == 3
    =raw t("activerecord.attributes.feedback.form_title.message")
  -else
    =raw t("activerecord.attributes.feedback.form_title.mobile")
=form_for feedback, remote: true, data:{abide:''}  do |f|
  = f.text_field :feedback_type, type:"hidden", value: feedback_type
  %div
    = f.label :name
    = f.text_field :name, required:''
    %small.error
      =raw t("activerecord.attributes.feedback.error.field_empty")
  %div
    = f.label :email
    = f.text_field :email, required: '', pattern: "^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$"
    %small.error
      =raw t("activerecord.attributes.feedback.error.field_empty_or_value_not_correct")
  %div
    = f.label :mobile_phone
    = f.text_field :mobile_phone
  %div
    = f.label :comment
    = f.text_area :comment, required: ''
    %small.error
      =raw t("activerecord.attributes.feedback.error.field_empty")
  = f.submit class: "button", value: t("helpers.submit.send")