switch (<%=@feedback.feedback_type%>) {
    case 1:
        $('#feedback_android_modal').html('<%= escape_javascript render('feedbacks/thanks') %><a class="close-reveal-modal" id="click_feedback_android_modal_close">&#215;</a>');
        setTimeout(function () {
            $('#click_feedback_android_modal_close').trigger('click');
        }, 1000);
        break
    case 2:
        $('#feedback_ios_modal').html('<%= escape_javascript render('feedbacks/thanks') %><a class="close-reveal-modal" id="click_feedback_ios_modal_close">&#215;</a>');
        setTimeout(function () {
            $('#click_feedback_ios_modal_close').trigger('click');
        }, 1000);
        break
    case 3:
        $('#feedback_modal').html('<%= escape_javascript render('feedbacks/thanks') %><a class="close-reveal-modal" id="click_feedback_modal_close">&#215;</a>');
        setTimeout(function () {
            $('#click_feedback_modal_close').trigger('click');
        }, 1000);
        break
}