label {
  color:#000;
}

.admin-nav{
  ul{
    margin:0;
    background: white;
    list-style-type: none;
    padding: 10px;
    a {
      color: black;
    }
    li{
      padding: 10px;
      border-bottom: 1px solid #ebeaeb;
      vertical-align: middle;
    }

  }
}
.admin-panel{
  background: #ffffff;
  padding:10px;
  border-bottom: solid 1px lightgray;
  height: 70px;
  font-weight: bold;
  a {
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    img {
      width: 150px;
      padding: 10px;
    }
  }
}

.admin-top{
  background: #4e4e4e;
  padding:10px;
  height: 70px;
  overflow: hidden;
}

.full-width {
  width: 100%;
  max-width: 100%;}

.pad-left{
  padding-left: 0px;
  padding-right: 0px;
}
.pad-right{
  padding-left: 0px;
//  padding-right: 0px;
}
.admin-main{
  background: #f3f3f3;
}

.admin-main.row{
  padding: 20px;
//  background: #f3f3f3;
}
.accordion .accordion-navigation.active > a, .accordion dd.active > a {
  background: #C3C3C3;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
//  border: 1px solid #e1e1e1;
}

.accordion .accordion-navigation, .accordion dd {
//  display: block;
  margin-bottom: 1px !important;}

.accordion .accordion-navigation > a, .accordion dd > a {
  padding: 0.5rem;
  background: #F9F9F9;
}

.accordion .accordion-navigation > .content.active, .accordion dd > .content.active {
  display: block;
  background: white;
  border: solid 1px #e8e8e8;
  border-top: none;
  margin-bottom: 15px;
}
.par_sert{
  margin-top: 10px;
  border: solid 1px #e8e8e8;
  padding: 30px 10px 10px 20px;
  border-radius: 3px;
  margin-bottom: 10px;
}
.switch{
  margin:0;
  margin-top:5px;
}
.save_products{
  text-align: right;
  //border-radius: ;
}

.custom-panel {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid #e1e1e1;
  border-top: 0px;
  //margin-top: 15px;
}

.custom-panel-heading {
  padding: 10px;
  background: rgba(90,90,90,0.1);
}

.cat-plus{
  font-size: 1.2rem;
  color:#000000;
}

.header-sortable {
  list-style-type: none;
  background-color: white;
  font-size: 0.8rem;
  margin: 0;
li {
//  color:red;
}
}

.torder{
  width: 100%;
}

////////редактирование заказа админка
form {
  .cart_line {
    a {
      color: black;
      &:hover {
        color: red;
      }
    }
    .line {
      padding: 10px;
      border: solid 1px #E8E8E8;
      height: 100px;
      margin-top: -1px;
      margin-left: -1px;
      margin-right: 0;
      display: block;
      vertical-align: baseline;
      &:hover {
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
        border: solid 1px #E8E8E8;
      }
    }

    .line_red {
      padding: 10px;
      border: solid 1px red;
      height: 100px;
      margin-top: -1px;
      margin-left: -1px;
      margin-right: 0;
      display: block;
      vertical-align: baseline;
      &:hover {
        box-shadow: 0 2px 10px rgba(255, 0, 0, 0.3);
        //    border: solid 1px red;
      }
    }

    .ad_cart_top_num {
      margin-top: 20px;
    }
    .cart_top {
      margin-top: 25px;
    }

  }
}

.cart_img{
  padding-left: 10px;
  padding-right: 5px;
  img {
    height: 80px;
    //padding-right: 10px;
  }
}
.cart_name{
  display: block;
  height: 50px;
  overflow: hidden;
  font-size: 0.9rem;
  line-height: 1.2rem;
}
.cart_articul{
  color: black;
  background: #F0F0F0;
  padding: 5px;
  border-radius: 3px;
  width: 120px;
  font-size: 0.8rem;
  margin-left: 5px;
}

.cart_name_block{
  padding:0px;
}
.cart-center{
  margin-left: 23%;
  margin-bottom: 5px;
}

.admin-ico{
  a {
    color: white;
    &:hover{
      color:red;
    }
  }
  padding: 10px;
  text-align: center;
}

.cart_masterprice{
  position: absolute;
  left: 130px;
  top: 50px;
}

.ad_top_pad{
  padding-top: 30px;
  padding-left: 0px;
  text-align: center;
  a {color:black;
  &:hover{
    color:red;
  }}
}
.ad_top_pad_price{
  padding-top: 25px;
}
.ad_top_pad_name{
  padding-top: 25px;
  padding-left: 0px;
  font-size: 0.9rem;
}
.ad_img_size{
  img {
  height: 90px;
  width: 90px;}
}
.header_align{
  text-align: center;
}
.ad_move{
  padding-top:10px;
}
.radio_block{
  padding-top: 15px;
  font-size: 0.9rem;
  span {
    padding-right: 10px;
    padding-left: 5px;
  }
}
.ad_left_pad_button{
  padding-left: 0px;
}
.ak_header_edit{
  color: black;
  line-height: 1rem;
  font-size: 1.2rem;
  padding: 10px;
  border: solid 1px #e8e8e8;
  border-radius: 3px;
  max-width: 420px;
  background: #f3f3f3;
  margin-bottom: 20px;
}
.ak_pad_left{
  padding-left:0px;
}
.load-image-block {
  min-height: 100px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background: white;
  text-align: center;
  color:#e8e8e8;
  line-height: 90px;
  &:hover{
    color:black;
    background: #fafafa;
  }
}

.image-sort{
  li{
    list-style: none;
    margin-bottom: 10px;
  }
}

.product-image-sort{
  border:solid 1px #e8e8e8;
  border-radius:3px;
  padding:10px;
  &:hover{
    border:solid 1px #c5c5c5;
  }
}

.marketing-input{
  background: #fafafa;
  border-radius: 3px;
  border: solid 1px #e8e8e8;
  padding: 10px;
  margin: 20px 0px 7px 0px;

  input{
    margin-right:10px;
  }
}
.filtration-list{
  border: solid 1px #e8e8e8;
  border-radius: 3px;
  padding: 10px;
  /* height: 600px; */
  /* margin-bottom: 40px; */
  margin-top: 10px;
}