.qq-uploader {
    position: relative;
    width: 100%;
}

.qq-upload-button, .qq-upload-button-hover, .qq-upload-button-focus, .qq-upload-drop-area {
    background: url(dropdownbg.png) repeat scroll 0 0 #FFFFFF;
    border: 1px solid #bbbbb9;
    color: #000000;
    display: block;
    float: left;
    font-size: 14px;
    padding: 25px;
    text-align: center;
    width: 100%;
}

.qq-upload-button-hover, .qq-upload-button-focus, .qq-upload-drop-area {
    -webkit-box-shadow: 1px 2px 8px 3px #CCCCCC;
    box-shadow: 1px 2px 8px 3px #CCCCCC;
    color: #000000;
    font-size: 16px;
}

.qq-upload-button-focus {
    font-size: 19px;
}

.qq-upload-drop-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 73px;
    z-index: 2;
    background: url(dropdownbg.png) repeat scroll 0 0 #FFFFFF;
    color: #ccc;
    text-align: center;
}

.qq-upload-drop-area span {
    display: block;
    position: absolute;
    width: 100%;
    font-size: 16px;
    color: #000000;
}

.qq-upload-drop-area-active {
    color: #000000;
}

.qq-upload-list {
    margin: 0;
    padding: 0;
    list-style: none;
    /*display: none;*/
}

.qq-upload-list li {
    font-size: 10px;
    line-height: 15px;
    margin-bottom: 8px;
    overflow: hidden;
    width: 200px;
    float: left;
}

/*.qq-upload-list li div {*/
    /*margin-top: 2px;*/
/*}*/

.qq-upload-list li div a {
    padding: 0;
}

.qq-upload-preview {
    float: left;
    margin-right: 10px;
}

.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin: 0;
    padding: 0;
    text-transform: none;
}

.qq-upload-cancel, .qq-upload-failed-text {
    text-transform: uppercase;
}

.qq-upload-spinner {
    display: inline-block;
    background: url("preloader.gif") no-repeat scroll 0 0 transparent;
    width: 24px;
    height: 24px;
    vertical-align: text-bottom;
}

.qq-upload-size {
    font-weight: bold;
}

.qq-upload-failed-text {
    display: none;
}

.qq-upload-fail .qq-upload-failed-text {
    display: inline;
}

.image-upload-preview {
    float: left;
    font-size: 13px;
    width: 200px;
    padding-bottom:13px;
}

.qq-upload-success {
    position: relative;
}

.image-upload-preview .upload_delete {
    left: 20px;
    position: absolute;
    top: 20px;
}

/*.image-upload-preview:nth-child(even) {*/
    /*margin-right: 37px;*/
/*}*/

.image-upload-preview label {
    float: none;
    line-height: 21px;
    width: auto;
}