ul.mainmenu {
  //  height: 400px;
  width: 100%;
  list-style-type: none;
  background-color: rgb(240, 240, 240);

  //  margin-left: 0px;
  padding: 10px 0px 10px 0px;

  margin: 0;
//  padding: 0;

  font-size: 0.8rem;
  line-height: 2em;

  li {
    display: block;
    //    padding-left: 10px;
    line-height: 1.7rem;

    margin: 0;
    padding: 0;
    padding-left: 15px;


    &:hover{
      background: white;
//      padding-left: 5px;
    }

    a {
      color: black;
      &:hover {
        color: red;
      }
    }

    .sub-categories {
      display: none;

      width: 500px;
      min-height:400px;
      max-height: 420px;
      background-color: white;
//      padding: 10px 0 0 0;

      z-index: 999;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
      padding:10px 20px 10px 10px;
    }

    &:hover {
      .sub-categories {
        display: block;
        position: absolute;

        top: 0px;
        right: -485px;
        columns: 200px auto;
        -moz-columns: 200px auto;
        -webkit-columns: 200px auto;
        break-after: column;

        .sub-category {

          width: 190px;
          padding-right: 10px;

          position: relative;
          float: left;

//          display: inline-block;
//          width: 49%;
//          vertical-align: top;

          a {
            width: 100%;
            display: block;
            color:gray;
            line-height: 1rem;
            font-size: 0.7rem;
            padding-left:15px;
            &:hover{
              color:red;
            }

          }

          a.parent-category {
            font-weight: bold;
            color:black;
            line-height: 1.2rem;
            font-size: 0.8rem;
            padding-left:10px;
            &:hover{
              color:red;
            }
          }
        }
      }
    }

  }
}