h1 {
  font-size: 1.5em;
  line-height: 2em;
}

hr {
  margin:0;
  padding-bottom: 10px;
}

table {
  width: 100%;
}

.hit-label {
  text-transform: uppercase;
  padding-right: 10px;
  color: #f04124;
  position: absolute;
  top: -30px;
  left: 15px;
  font-size: 1rem;
}
.slider-top-pad {
  padding-top: 15px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 5px;
}

.slider {
  overflow: hidden;
  height: 70px;
  margin-bottom: 10px;
  img {
    height: 70px;
  }
}

.hit {
  p {
    font-size: 0.8rem;
  }
  &:hover{
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  }
  border: solid 1px #E8E8E8;
  padding: 10px;
  display: block;
  margin-left: -1px;
  a {
    color:black;
  }
}

.over {
  padding-top:10px;
  padding-right: 10px;
  .hit:last-child {
    float: left;
  }
}

.orbit-bullets {
  top: -40px;
}

.day{
  margin-top: 15px;
  border: solid 1px #D1A736;
  padding: 20px 10px;
  height: 280px;
}

.sale-day{
  color:white;
  padding: 5px 15px;
  margin-top:15px;
  font-size: 0.8rem;
  background: rgba(209, 167, 54, 1);
  position: absolute;
  top:0px;
  left:15px;
}

.price {
//  height: 2rem;
  p {
    margin: 0;
  }

  .price_from {
    color: red;
    height: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    i {
      font-size: 0.9rem;
    }
  }
  .price_name{
    height: 2rem;
    line-height: 1rem;
    overflow: hidden;
  }
}

.name-day{
  font-size: 0.8rem;
  padding-left: 5px;
  max-height: 2rem;
  line-height: 1rem;
  overflow: hidden;
}

.price-day{
  font-weight: bold;
  font-size: 1.2rem;
  color:red;
  padding-left: 5px;
  i{
    font-size: 0.8rem;
  }
}

.marketing {
  background-color: #303030;
  color: white;
  padding: 40px 50px 10px 50px;
  margin-top: 20px;
}

.new_product {
  color: black;
  padding: 30px 0px 0px 10px !important;
  /* margin-top: 20px; */
}
.seo {
  background-color: #fafafa;
  border-top: solid 1px #e8e8e8;
  padding: 20px;
  padding-top: 30px;

    p {
      line-height: 1.2rem;
      font-size: 0.8rem;
      margin-bottom: 0.8rem;
    }

}

.item_off {
  padding-right: 10px;
}

.tfbreadcrumbs{
  margin-top: 10px;
  background-color: white;
  border-style:none;
  margin-bottom: 10px;
  a {
    color:black;
    &:hover{
      color:red;
    }
  }
}

.banner{
  width: 100%;
  position: relative;
  border: solid 1px #f04124;
  height: 332px;
  text-align: center;
  margin-top: 12px;
  font-size: 1.2rem;
  &:hover{
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  }
}

.banner-label{
  color:white;
  padding: 5px 15px;
//  margin-top:15px;
  font-size: 0.8rem;
  background: #f04124;
  position: absolute;
  top:0px;
  left:0px;
}

.banner-name{
  color:red;
  padding: 5px 15px;
  font-size: 0.8rem;
//  background: #f04124;
  position: absolute;
  right:0px;
  bottom:0px;
}

.brands{
  padding-top: 20px;
//  height: 290px;
  padding-bottom: 20px;
}

.front_brand{
  padding-left: 10px;
  border:solid 1px #e8e8e8;
  margin: 5px;
//  border-right: solid 1px white;
  &:hover{
    border:solid 1px #cccccc;
//    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  }
}



.land_products{

  .small-product{
    margin-top: 0px;
    margin-left: 0px;
    background: white;
    &:hover{
      border:solid 1px #cccccc;
      box-shadow: none;
    }
  }
}

.sub_name{
  text-transform: uppercase;
  margin-bottom: 0px;
  font-size: 1rem;
  padding-bottom: 5px;
  padding-top: 5px;
  color: #f04124;
}

.subcategories{
  border: solid 1px #e8e8e8;
  border-radius:3px;
  margin-bottom: 10px;
  a {
    color: black;
    padding: 5px;
    line-height: 2rem;
    &:hover{
      color:#f04124;
    }
  }
  ul {
    list-style-type: none;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  li {
    font-size: 0.8rem;
    padding-left: 10px;
//    border-radius:3px;
    &:hover {
      background: #F3F3F3;
    }
  }
}

.title-category{
  a {
    color:red;
    text-decoration: underline;
    &:hover{
      color:#525252;
    }
  }
}
////////cart
.cart_line{
  a{
    color:black;
    &:hover{
      color:red;
    }
  }
  .line{
    padding: 10px;
    border: solid 1px #E8E8E8;
    height: 100px;
    margin-top: -1px;
    margin-left: -1px;
    margin-right: 0;
    display: block;
    vertical-align: baseline;
    &:hover{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    border: solid 1px #E8E8E8;
    }
  }
}
.cart_img{
  padding-left: 10px;
  padding-right: 5px;
  img {
    height: 80px;
  }
}
.cart_name{
  display: block;
  height: 50px;
  overflow: hidden;
  font-size: 0.9rem;
  line-height: 1.2rem;
}
.itog{
  text-align: right;
  padding:10px;
  font-weight: bold;
}
.fast-panel{
  border: solid 1px #f3f3f3;
  padding:15px;
  background: #f3f3f3;
  border-radius: 3px;
}
.full-panel{
  border: solid 1px #f3f3f3;
  padding:15px;
  background: #f3f3f3;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
}
.cart_articul{
  color: black;
  background: #F0F0F0;
  padding: 5px;
  border-radius: 3px;
  width: 120px;
  font-size: 0.8rem;
}
.cart_top{
  padding-top: 25px;
}
.cart_top_num{
  padding-top: 20px;
}
.cart_name_block{
  padding:0px;
}
.cart-center{
  margin-bottom: 5px;
  text-align: center;
}
.reg{
  a {
    color:red;
    &:hover{
      color: #4e4e4e;
    }
  }
}
.fast-panel-head{
  text-align: center;
  font-weight: bold;
}
.oneclick-panel-head{
  text-align: center;
  font-weight: bold;
  padding-bottom: 15px;
}
.oneclick-product{
  background: white;
  border: solid 1px #ccc;
}
.oneclick-button-margin{
  margin-bottom: 0px;
}
.oneclick-name-padding{
  margin-top: 35px;
}

.main-slide{
  padding-right: 0px;
  padding-left: 0px;
//  height: 280px;
}

.flag_red{
  position: absolute;
  padding: 5px 10px;
  background: #f04124;
  font-size: 0.8rem;
  color: white;
  top: -1px;
  left: 0px;
  z-index: 10;
}
.flag_gold{
  position: absolute;
  padding: 5px 10px;
  background: #D1A736;
  font-size: 0.8rem;
  color: white;
  top: -1px;
  left: 0px;
  z-index: 10;
}

.unit{
  font-size:0.8rem;
}

.brand_name {
  margin-top: 20px;
  padding: 10px 20px;
  border: solid 1px #e8e8e8;
  border-radius: 3px;
}

.spec{
  background: none;
  border-radius: 3px;
  width: 100%;
  }

.description{
  font-size:0.9rem;
}

.torder{
  width:100%;
}

.lk-name{
  padding: 10px;
  /* text-align: center; */
  border: solid 1px #e8e8e8;
  margin-top: 15px;
}

.login-form {
  margin: 150px auto;
  width: 300px;
  h1 {
    background-color: #282830;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 14px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    margin:0px;
  }
  fieldset {
    background: #fff;
    border-radius: 0 0 5px 5px;
    border-top: none;
    padding: 20px;
    position: relative;
    margin:0px;
  }
}

.free_bg{
  background: #f3f3f3;
}

.free_sign_in{
  padding-top: 15px;
  text-align: center;
  a {
    color:#cccccc;
    text-decoration: underline;
    &:hover{
      color:red;
    }
  }
}

#user_remember_me{
  margin-right: 5px;
}

.alert-box.alert {
  display: none;
}

#prev_preview_image{
  position:absolute;
  left:0px;
  top:25px;
  background:rgba(255,255,255,0.3);
}

#next_preview_image{
  position:absolute;
  right:0px;
  top:25px;
  background:rgba(255,255,255,0.3);
}

.category_h1{
 line-height: 1.5rem;
}

.info{
  float: left;
  padding: 5px;
  color: white;
}
.search-result{
  margin-bottom: 20px;
}
.button{
  margin: 25px 0;
}
//#slider_image .item{
//  display: block;
//  padding: 30px 0px;
//  margin: 5px;
//  color: #FFF;
//  -webkit-border-radius: 3px;
//  -moz-border-radius: 3px;
//  border-radius: 3px;
//  text-align: center;
//}
//.owl-theme .owl-nav div {
//  padding: 5px 9px;
//}
//
//.owl-theme .owl-nav i{
//  margin-top: 2px;
//}