.baloon {
  font-family: "Roboto", sans-serif !important;
  width: 235px;

  .baloon-icons {
    float: left;
    width: 45px;
    vertical-align: bottom;
    padding: 20px 0;
    text-align: center;
    margin-right: 5px;
    overflow: hidden;

    a {
      display: inline-block;
      position: absolute;
      border-bottom: 1px dotted #cccccc;
    }

    .clipboard {
      top: 25px;
      left: 25px;
    }

    .fa {
      font-size: 1.4rem;
      color: #6FAA39;
    }

    .eye {
      bottom: 21px;
      left: 23px;
      .fa {
        font-size: 1rem;
      }
    }
  }

  .baloon-info {

    overflow: hidden;
//    border-left: 1px solid #d5d5d5;
    float: left;
    padding: 10px 0;
    width: 185px;

    h4.baloon-address {
      font-weight: 600;
      font-size: .9rem;
    }

    .baloon-description {
      font-size: .8rem;
      line-height: 1.3;
      margin-bottom: 10px;
    }

    .baloon-capacity-holder {
      font-size: .9rem;
      font-weight: 600;
    }

    .baloon-capacity-count {
      color: #6FAA39;
      font-size: 1rem;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}
