//SCROLLABLE BACKGROUND
@keyframes movebg {
  0% {
    background-position: 800px 800px;
  }
  100% {
    background-position: 0 0;
  }
}

.boomstarter-slide {
  background: url("boomstarter-bg.jpg") repeat repeat 0 0 #fff;
  padding-bottom: 7em;
  padding-top: 100px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  position: relative;

  .slide-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 60%;
    height: 42%;
    margin: auto;
    text-align: center;

    img {
      margin: 0 auto;
    }

    h2 {
      padding-top: 20px;
      text-align: center;
      line-height: 1.5rem;
      a {
        color: rgba(63,62,64,1);
        font-weight: 400;
        font-size: 1.3rem;
      }
    }
  }
}

.welcome-slide {

  padding-bottom: 7em;
  padding-top: 100px;
  background: url("bg-green-opacity.png") repeat repeat 0 0 #6FAA39;
  animation: 35s linear 0s normal none infinite running movebg;
  position: relative;
  .slide-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 65%;
    margin: auto;
    img {
      display: block;
      margin: 0 auto;
    }

    h2 {
      padding-top: 0.8rem;
      display: block;
      text-align: center;
      color: #ffffff;
      font-weight: 400;
      img {
        padding-bottom: 2rem;
      }
    }
  }
}

.second-slide {
  padding-bottom: 7em;
  padding-top: 100px;
  background: url("bg-green2.png") repeat repeat 0 0 #ffffff;
  animation: 35s linear 0s normal none infinite running movebg;
  position: relative;
  .slide-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 55%;
    height: 65%;
    margin: auto;
    text-align: center;
    img {
      display: block;
      margin: 0 auto;
    }
    h2 {
      text-align: center;
      color: #666666;
      font-weight: 400;
      display: block;
    }
    ul {
      display: inline-block;
      margin: 0 auto;
      padding: 2rem 0 0 0;
      text-align: left;
      list-style-type: none;

      .marker-blue {
        background: rgba(0, 0, 0, 0) url("parking_type/1.png") no-repeat scroll 0 center;
      }

      .marker-green {
        background: rgba(0, 0, 0, 0) url("parking_type/2.png") no-repeat scroll 0 center;
      }

      .marker-yellow {
        background: rgba(0, 0, 0, 0) url("parking_type/3.png") no-repeat scroll 0 center;
      }

      .marker-red {
        background: rgba(0, 0, 0, 0) url("parking_type/4.png") no-repeat scroll 0 center;
      }

    }
  }
}

.third-slide {
  background: url("slide2.jpg") repeat repeat 0 0 #fff;
  padding-bottom: 7em;
  padding-top: 100px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  position: relative;

  .slide-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 60%;
    height: 23%;
    margin: auto;
    h2 {
      text-align: center;
      color: #ffffff;
      font-weight: 400;
    }
  }
}

/* max-width 640px, mobile-only styles, use when QAing mobile issues */
@media only screen and (max-width: 40em) {
  .boomstarter-slide, .welcome-slide, .second-slide, .third-slide {
    height: 300px;
    h2 {
      font-size: 1rem;
    }
    li {
      font-size: .8rem;
      line-height: 1.3rem;
      margin: 0 0 10px;
      padding: 0 0 0 50px;
      min-height: 42px;
    }
  }
  .welcome-slide .slide-wrapper {
    height: 33%;
  }
  .second-slide .slide-wrapper {
    height: 90%;
    ul {
      padding-top: 0;
    }
  }
}

/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .boomstarter-slide, .welcome-slide, .second-slide, .third-slide {
    height: 450px;
    h2 {
      font-size: 1.8rem;
    }
    li {
      font-size: 1.1rem;
      line-height: 2.7rem;
      margin: 0 0 15px;
      padding: 0 0 0 50px;
      min-height: 42px;
    }
  }
  .welcome-slide .slide-wrapper {
    height: 65%;
  }

  .second-slide .slide-wrapper {
    height: 70%;
    width: 80%;
    h2 {
      padding-bottom: 2rem;
    }
    ul {
      padding-top: 0;
    }
  }
}

/* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */
@media only screen and (min-width: 64.063em) {
  .boomstarter-slide, .welcome-slide, .second-slide, .third-slide {
    height: 625px;
    h2 {
      font-size: 2rem;
    }
    li {
      font-size: 1.3rem;
      line-height: 3rem;
      margin: 0 0 20px;
      padding: 0 0 0 50px;
      min-height: 42px;
    }
  }
  .second-slide .slide-wrapper {
    height: 70%;
    h2 {
      padding-bottom: 2rem;
    }

    ul {
      padding-top: 0;
    }
  }
}