body.cs {
  background:url(cs.png) no-repeat 50% 50%;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v15/Fl4y0QdOxyyTHEGMXX8kcZBw1xU1rKptJj_0jans920.woff2) format('woff2'), url(http://fonts.gstatic.com/s/roboto/v15/Fl4y0QdOxyyTHEGMXX8kcbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v15/uYECMKoHcO9x1wdmbyHIm-vvDin1pK8aKteLpeZ5c0A.woff2) format('woff2'), url(http://fonts.gstatic.com/s/roboto/v15/mUdRVCMHGKUBOACHGTH1g-vvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(http://fonts.gstatic.com/s/roboto/v15/oHi30kwQWvpCWqAhzHcCSJBw1xU1rKptJj_0jans920.woff2) format('woff2'), url(http://fonts.gstatic.com/s/roboto/v15/oHi30kwQWvpCWqAhzHcCSLO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(http://fonts.gstatic.com/s/roboto/v15/isZ-wbCXNKAbnjo6_TwHTpBw1xU1rKptJj_0jans920.woff2) format('woff2'), url(http://fonts.gstatic.com/s/roboto/v15/isZ-wbCXNKAbnjo6_TwHTrO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(http://fonts.gstatic.com/s/roboto/v15/3Y_xCyt7TNunMGg0Et2pnpBw1xU1rKptJj_0jans920.woff2) format('woff2'), url(http://fonts.gstatic.com/s/roboto/v15/3Y_xCyt7TNunMGg0Et2pnrO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

.green {
  color: $green;
}

.gray {
  color: $gray;
}

.yellow {
  color: $yellow;
}

.text-center {
  text-align: center;
}

.top-bar {
  a {
    text-transform: uppercase !important;
  }
}

.top-bar-section ul li a {
  font-weight: 400;
}

.top-bar-section ul li:hover:not(.has-form) > a {
  background: #333333 none repeat scroll 0 0;
  color: #fce100;
}

.name {
  h1 {
    a {
      line-height: 58px;
    }
  }
}

#logo {
  background: url('logo.png') center center no-repeat transparent;
  background-image: url('logo.svg'), -khtml-linear-gradient(transparent, transparent);
  background-image: url('logo.svg'), -webkit-linear-gradient(transparent, transparent);
  background-image: url('logo.svg'), url('logo.png');
  background-image: url('logo.svg'), -ms-linear-gradient(transparent, transparent);
  background-image: url('logo.svg'), linear-gradient(transparent, transparent);
  background-image: url('logo.png'), -o-linear-gradient(transparent, transparent);
  background-repeat: no-repeat, no-repeat;
  -moz-background-size: 0 0, contain; /* FF3.6 */
  background-size: contain, 0 0;

  text-indent:-9999em;
  overflow:hidden;

  font-size: 0;
  color: rgba(255, 255, 255, 0);

  display: inline-block;
  height: 25px;
  width: 135px;
  margin: 0;
  padding: 0;
  line-height: 48px;
}

.features {
  padding: 45px 20px 0;
  text-align: center;
}

#parking-map {
  width: 100%;
  height: 90%;

  padding-top: 44px;
}

#mobile-application {
  color: $gray;
  padding: 35px 0;

  .pure {
    font-size: 2.3rem;
    line-height: 3rem;
    text-transform: uppercase;
    color: $green;

    span {
      display: block;
      font-size: 7.5rem;
      font-weight: 600;
      line-height: 8rem;
      color: $yellow;
//      padding-top: 1.5rem;
    }
  }

  .site {
    font-size: 1.3rem;
    line-height: 1.8rem;
    padding-top: 10px;
  }

  .now {
    color: $green;
    font-size: 1.3rem;
    line-height: 2rem;
  }

  .store {
    a {
      padding-right: 5px;
      line-height: 55px;
    }
  }
}

#footer {
  background: none repeat scroll 0 0 $green;
  color: #ffffff;
  padding: 25px 0;

  line-height: 3rem;

  .copy {
    text-align: left;
  }

  .menu {
    text-align: center;

    .space-horizontal {
      margin: 0 10px;
    }
  }

  .social {
    text-align: right;

    a {
      margin-left: 4px;
    }

    .fa-vk {
      font-size: 1.6em;
    }
    .fa-facebook {
      font-size: 1.5em;
    }
    .fa-twitter {
      font-size: 1.5em;
    }
    .ok {
      background: url("ok.png") repeat scroll 0 0 rgba(0, 0, 0, 0) ;
      display: inline-block;
      height: 21px;
      vertical-align: sub;
      width: 21px;
      text-align: -1000px;
    }
  }

  a {
    color: #ffffff;
  }

}

#info {
  background: none repeat scroll 0 0 $gray;
  color: #ffffff;

  text-align: center;
  padding: 35px;
}

.feedback-info {
  text-align: center;
  font-size: 1.3rem;
  color: #2f540e;
}

.new_feedback .button {
  display: block;
  margin: 30px auto 0;
}

.auth {
  width: 350px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}