%div.row
  <a class="close-reveal-modal" id="click_administrator_modal_close">&#215;</a>
  %h1
    =t('helpers.title.edit', :model => t('activerecord.changed_model.parking'))
  =render 'administrator/features/form'
