%tr{id:feature.id}
  %td.large-1.columns
    =image_tag feature.image_url(:thumb)
  %td.large-9.columns
    =feature.title
  %td.large-1.columns
    =link_to '<i class="fa fa-edit"></i>'.html_safe, edit_administrator_feature_path(feature), remote: true
  %td.large-1.columns
    =link_to '<i class="fa fa-remove"></i>'.html_safe, administrator_feature_path(feature), method: :delete, data: { confirm: 'Are you sure?' }, remote: true