=simple_form_for [:administrator, @feature], remote: true  do |f|
  =f.input :title
  =f.input :description
  =f.input :image, as: :file
  =f.button :submit, class: "button"
=image_tag @feature.image_url(:thumb) #unless @project_slides.image.nil?
:javascript
  $(function () {
      $('#feature_description').redactor({
          lang: 'ru',
          buttons: ['html', 'formatting', 'bold', 'unorderedlist'],
          cleanSpaces: true
      });
  });