$('#administrator_modal').html('<%= escape_javascript content_tag :h2, t("backend.actions.success_create", :model => t("activerecord.capitalized_model.feature")) %><a class="close-reveal-modal" id="click_administrator_modal_close">&#215;</a>');
setTimeout(function () {
    $('#click_administrator_modal_close').trigger('click');
}, 1000);

$('#feature > tbody').append('<%= escape_javascript render 'administrator/features/feature_row', feature: @feature %>');

$('#administrator_alert > h2').html('<%= t("backend.actions.success_create", :model => t("activerecord.changed_model.feature")) %>');
$('#click_administrator_alert').trigger('click');
setTimeout(function () {
    $('#click_administrator_alert_close').trigger('click');
}, 1000);