%div.row
  %div{class:"custom-panel"}
    %div{class:"custom-panel-heading"}
      %h4
        =t("helpers.title.list", :model => t("activerecord.list_multiple_model.feature"))
        =link_to '<i class="fa fa-plus cat-plus"></i>'.html_safe, new_administrator_feature_path, remote: true

      %table#feature
        %thead
          %td.large-1.columns
            Изображение
          %td.large-9.columns
            Заголовок
          %td.large-1.columns
            Редактировать
          %td.large-1.columns
            Удалить
        %tbody
          -@features.each do |feature|
            =render 'administrator/features/feature_row', feature: feature