!!!
%html
  %head
    %title
      - if content_for? :title
        =yield :title
        -
      Где паркинг - Инструменты администратора
    %meta{ charset: "UTF-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    =stylesheet_link_tag 'administrator'
    =javascript_include_tag 'vendor/modernizr'
    =javascript_include_tag 'administrator'
    =csrf_meta_tags
    =favicon_link_tag
    =yield :head
  %body
    -#=render 'layouts/load_fb'
    =render 'layouts/administrator/administrator_modal'
    %div{class:"row full-width"}
      %div{class:"large-2 columns pad-left"}
        %div.admin-panel
          =link_to image_tag('logo-admin.png') , root_path, target: '_blank', title: t('site_name')
      %div{class:"large-10 columns admin-top"}
        %div.row
          %div{class:"large-10 columns"}
            -#=render 'layouts/administrator/alert'
          %div{class:"large-2 columns admin-ico"}
            -#=render 'layouts/administrator/alert'
            =link_to '<i class="fa fa-user fa-2x"></i>'.html_safe, edit_user_registration_path, title:'Личный кабинет'
            =link_to '<i class="fa fa-sign-out fa-2x"></i>'.html_safe, destroy_user_session_path, :method => :delete, style: "padding-left:20px"
    %div{class:"row full-width"}
      %div{class:"large-2 columns admin-nav pad-left"}
        =render 'layouts/administrator/menu'
      %div{class:"large-10 columns admin-main"}
        =yield
        =render 'layouts/scripts/foundation_init'