<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title><%= t('seo_title') %></title>
  <meta name="description" content="<%= t('seo_description') %>">
  <meta name="keywords" content="<%= t('seo_keywords') %>">

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
<%= yield %>
<%= render 'layouts/scripts/foundation_init' %>
<%= render 'layouts/scripts/google_analytics' %>
</body>
</html>